name: CI for main branch

on:
  push:
    branches:
      - "main"

jobs:
  # See https://stackoverflow.com/a/73624365/16109047
  build:
    runs-on: ubuntu-latest
    if: github.repository == 'velut/query-registry' && github.ref == 'refs/heads/main'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup bun
        uses: oven-sh/setup-bun@v2

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Lint
        run: bun run lint

      - name: Test
        run: bun run test:ci

      - name: Build
        run: bun run build

      - name: Are the types wrong
        run: bun run attw

      - name: CodeCov
        uses: codecov/codecov-action@v5.5.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
